.delivery {
    h2 {
        @include fluid-text(24, 20);
        margin-bottom: 24px;
        font-weight: 500;

        @media (min-width: $mobile) {
            margin-bottom: 32px;
        }

    }

    ul li {
        list-style: disc;
        transform: translateX(20px);
        margin-right: 20px;
        @include fluid-text(20, 16);
    }

    ul {
        margin-bottom: 40px;

        @media (min-width: $mobile) {
            margin-bottom: 24px;
        }
    }

    .underlined {
        text-decoration: underline;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 40px;

    }
}

.regiondostavki {
    @include fluid-text(24, 20);
}