.custom-checkbox {
    display: flex;
    color: $white;
    cursor: pointer;

    input {
        display: none; 
    }

    span {
        display: inline-block;
        min-width: 20px;
        max-width: 20px;
        min-height: 20px;
        max-height: 20px;
        border: 2px solid $white;
        border-radius: 3px; 
        margin-right: 8px;
        position: relative;
        transition: all 0.3s ease-in-out;        

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 5px;
            width: 6px;
            height: 10px;
            border-right: 2px solid $white;
            border-bottom: 2px solid $white;
            transform: rotate(45deg);
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
    }

    input:checked + span {
        background: transparent; 
    }

    input:checked + span::before {
        opacity: 1;
    }
}
