.o-kompanii {
    position: relative;

}

.company-block-inner {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    align-items: flex-end;

    @media (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
    }

    .block-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        width: calc(50% - 12px);

        @media (max-width: $mobile) {
            width: 100%;
            flex-direction: column;
            gap: 12px;
        }

        .block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 12px 24px;
            width: 100%;
            min-height: 128px;
            border-radius: 12px;
            background-color: $white;
            background-color: #F8F8F8;

            @media (max-width: $mobile) {
                width: 100%;
            }

            span {
                font-weight: 500;
                font-size: 40px;
                color: $main-color;
                margin-bottom: 4px;

                @media (max-width: $mobile) {
                    margin-bottom: 4px;
                }
            }

            &__text {
                font-size: 16px;
            }

        }
    }
}

.company-text p {
    @include fluid-text(18, 16);
    margin-bottom: 24px;
}